{% extends "base.html" %}
{% load wagtailimages_tags %}

{% block content %}
<br><br><br>
<h3 style="color: black;">AGREEMENT TO TERMS</h3>

<p style="color: black; font-weight: bold; font-size: larger;">
    These Terms of Use constitute a legally binding agreement made between you, whether personally or on behalf of an entity 
(“you”) and Matt's Mols Inc. concerning your access to and use of the 
http://www.mattsmols.com website as well as any other media form, media channel, mobile website or mobile application 
related, linked, or otherwise connected thereto (collectively, the “Site”). You agree that by accessing the Site, you have read, 
understood, and agreed to be bound by all of these Terms of Use. IF YOU DO NOT AGREE WITH ALL OF THESE TERMS OF USE, THEN YOU ARE 
EXPRESSLY PROHIBITED FROM USING THE SITE AND YOU MUST GET THE FUCK OUT!!!.
</p>

<h3 style="color: black;">PROHIBITED ACTIVITIES</h3>

<p style="color: black; font-weight: bold; font-size: larger;">
    

You may not access or use the Site for any purpose other than that for which we make the Site available. The Site may not be used in connection with any commercial endeavors except those that are specifically endorsed or approved by us.

As a user of the Site, you agree not to:

<ol style="color: black; font-size: larger; font-weight: bolder;">
<li>Upload or transmit viruses, sexual or otherwise.</li>
<li>Interfere with, disrupt, or otherwise fuck with my website.</li>
<li>Harass or annoy me.</li>
<li>Copy or adapt the Site’s software, including but not limited to Flash, PHP, HTML, JavaScript, or other code.</li>
<li>Decipher, decompile, disassemble, or reverse engineer any of the software comprising or in any way making up a part of the Site.</li>
<li>Except as may be the result of standard search engine or Internet browser usage, use, launch, develop, or distribute any automated system, including without limitation, any spider, robot, cheat utility, scraper, or offline reader that accesses the Site, or using or launching any unauthorized script or other software.</li>
<li>Use a buying agent or purchasing agent to make purchases on the Site.
<li>Make any unauthorized use of the Site, including collecting usernames and/or email addresses of users by electronic or other means for the purpose of sending unsolicited email, or creating user accounts by automated means or under false pretenses.</li>
<li>Use the Site as part of any effort to compete with us or otherwise use the Site and/or the Content for any revenue-generating endeavor or commercial enterprise.</li>
<li>Use my site and molecules to make bomb's drugs or rock n' roll.</li>
<li>Put my molecules up your butt.</li>
<li>Make fun of me to my face.</li>
</ol>
</p>
<h3 style="color: black;">
    GOVERNING LAW
</h3>


<p style="color: black; font-weight: bold; font-size: larger;">

These Terms of Use and your use of the Site are governed by and construed in accordance with the laws of Guam applicable to agreements made and to be entirely performed within Guam, without regard to its conflict of law principles.
</p>

<h4 style="color: black;">CONTACT US</h4> 
<p style="color: black; font-weight: bolder;">
In order to resolve a complaint regarding the Site or to receive further information regarding use of the Site, please contact us at: 
</p>
<pre style="color: black; font-weight: bold;">
Matt's Mols Inc.
0001 Undisclosed Location Ave.
Undisclosed Springs, Guam 69420
Phone: 4439606620
mmaitland300@gmail.com
</pre>
<br><br><br>
{% endblock %}